
@{
    ViewBag.Title = "ValidationFailed";
}

<h2>You do not have the permission to edit this post.</h2>

<p>
    @Html.ActionLink("Back to List", "PostRepliesIndex", new { postID = ViewData["postID"]})
</p>

